.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.flex {
  display: flex;
}
.flexcolumn{
  flex-direction: column;
}
.wrap{
  flex-wrap: wrap;
}
.vcenter {
  align-items: center;
}
.hcenter {
 justify-content: center;
}
.space_between{
 justify-content: space-between;
 width:100%
}
.space_around{
 justify-content: space-around;
 flex-wrap: wrap;
}
.wholeScreen{
  width:100vw;
  height:100vh;
}
.userAvatar{
  width:10vw;
}
#sidenav-overlay {
  z-index: 996 !important;
  opacity: 0 !important;
}

#allLocations, #selectedLocations{
  overflow-y: auto;
}

@media only screen and (min-width: 0){
  #containerElement, #mapElement, #map {
    height: 40vh;
  }
  #allLocations, #selectedLocations, #directionsPanel {
    height: 40vh;
  }
}
@media only screen and (min-width: 601px){
  #containerElement, #mapElement, #map {
    height: 88vh;
  }
  #allLocations, #selectedLocations, #directionsPanel {
    height: 80vh;
  }
}

#directionsPanel{
  overflow-y: auto;
}
.noBottom{
  margin-bottom: 0 !important;
}

.modalWindow {
  position: fixed;
  top: 0;
  left: 0;
  height:100vh;
  width:100vw;
  display: flex;
  align-items:center;
  /*bottom: 0;
  right: 0;*/
  background-color: rgba(0, 0, 0, 0.75)
}

.modalContent {
  height: 35vh;
  overflow-y: auto;
}

.location-image-card {
  overflow:hidden;
  height: 30vh;
}

.card-title .location-details {
  text-shadow: 2px 2px #000000;
}

nav .brand-logo {
  position: relative;
  float: left;
}

.userAvatarSmall {
  width:5vw;
}
.tourContent {
  height: 15vh;
  overflow-y:auto;
}

.tour-image-card {
  overflow:hidden;
  height: 40vh;
}

.MapAndDirections {
  height: 75vh;
}

.waves-effect {
  z-index:0 !important;
}

nav {
  background-color: #1a2f5a !important;
}
.btn, .btn-large {
  background-color: #9dcaeb;
}
.Home {
  background-image: url(../public/images/church-street-history.jpg);
  /*background-image: url(https://orlandoretro.files.wordpress.com/2013/03/church-street-2.jpg);*/
  background-position: center center;
  background-repeat:  no-repeat;
  background-attachment: fixed;
  background-size:  cover;
  background-color: #999;
}
.homeScreen {
  /*color: white;*/
  padding: 2vw;
  background-color: rgba(26,47,90,0.6);
}

.collapsible-body {
  background-color: white;
}

.owtLogo {
  width:25vmin;
}

/*.collection {
  background-color: rgba(255,255,255,0.6);
}*/

.logoutButtonUserAvatar {
  width:2rem;
}

.collection {
  border: 0;
}

.homeFont {
  font-size: 2rem;
}

.tourCardInfo {
  width: 4rem !important;
  border-radius: 50% !important;
}
.blackBackground {
  background-color: rgba(0, 0, 0, 0.4);
  width:100%;
}
.tabs .tab a:hover, .tabs .tab a.active {
  color: #1a2f5a;
}
.tabs .tab a {
  color: rgba(26, 47, 90, 0.7);
}
.tabs .indicator {
  background-color: #9dcaeb;
}
.secondary-content {
  color: #1a2f5a;
}
[type="checkbox"]:checked + label:before{
  border-right: 2px solid #9dcaeb;
  border-bottom: 2px solid #9dcaeb;
}
.btn:hover, .btn:hover {
  background-color: #1a2f5a;
}
[type="radio"]:not(:checked) + label, [type="radio"]:checked + label {
  padding-left: 20px;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:after {
  background-color: #9dcaeb;
}
[type="radio"]:checked + label:after, [type="radio"].with-gap:checked + label:before, [type="radio"].with-gap:checked + label:after {
  border: 2px solid #9dcaeb;
}
